.portfolio-positions {
    background: #ffffff;
    box-shadow: 0px 0px 38px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    // padding: 26px;
}
.portfolio-perfomance {
    margin-bottom: 17px;
    padding-left: 26px;
}
.perfomance-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e8ecfd;
    padding-bottom: 23px;
    margin-bottom: 20px;
    .perfomance-title-text {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #1f2040;
        margin-right: 7px;
    }
    .perfomance-title-icon {
        display: flex;
    }
}

.perfomance-details-items {
    display: flex;
    flex-direction: row;
}
.details-item {
    margin-right: 110px;
    .details-item-title {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        color: #1f2040;
        margin-bottom: 14px;
    }

    .details-item-subtitle {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;

        color: #1f2040;
    }
}

.positions-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 26px;
    padding-top: 26px;
    .positions-title-text {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-right: 7px;
        color: #1f2040;
    }

    .positions-title-icon {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;

        color: #e8ecfd;

        background: #ffffff;
        border: 1px solid #e8ecfd;
        border-radius: 3px;

        padding: 3px 7px;
        margin-top: 4px;
    }
}

.portfolio-table-header {
    padding: 0px 0px 20px 0px;
    .tvl {
        width: 17%;
    }
    .apr {
        width: 9%;
    }
    .apy {
        // width: 15%;
    }
    .strategy {
        width: 21%;
    }
}
